
      <div class="modal-body" style="height:100%; width:100%; border:5px double gold;" >
        
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
			
				<div class="row form-group">
					<div class="col-sm-4">Name</div>
					<div class="col-sm-8"><input type="text" class="form-control"></div>
				</div>
				
				<div class="row form-group">
					<div class="col-sm-4">Mobile No:</div>
					<div class="col-sm-8"><input type="text" class="form-control"></div>
				</div>
				
				<div class="row form-group">
					<div class="col-sm-4">Date</div>
					<div class="col-sm-8">
						<div class="row">
							<div class="col-sm-4">
								<select>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
								</select>
							</div>
							<div class="col-sm-4">
							<select>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
							</select>
							</div>
							<div class="col-sm-4">
							<select>
									<option>2018</option>
							</select>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-sm-4">Time</div>
					<div class="col-sm-8">
						<div class="row">
							<div class="col-sm-3">
								<select>
									<option>1</option>
									<option>2</option>
									<option>3</option>
								</select>
							</div>
							<div class="col-sm-8">
								<input type="radio">am
								<input type="radio">pm
							</div>
						</div>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-sm-4">Party Size</div>
					<div class="col-sm-8"><select>
									<option>1</option>
									<option>2</option>
									<option>3</option>
								</select>
					</div>
				</div>
				
				<div class="row form-group">
				Anything in Specific that you would like to share with us or look forward to during your visit can be mentioned here.
				</div>
				
				<div class="row form-group">
					<textarea class="form-control" placeholder="Anything in Specific.."></textarea>
				</div>
				
			
					
				<div class="row form-group text-center">
				<button type="button" class="btn btn-success">Send</button>
				</div>
			</div>
			
			<div class="col-sm-2"></div>
		</div>
      
	  </div>
      
  