
<ul class="list-group">
	<li class="list-group-item active">Profile Settings</li>
		<li class="list-group-item"><i class="fa fa-users"></i><a routerLink="/store">Store</a></li>
		<li class="list-group-item"><i class="fa fa-user-circle-o"></i>
    
    <a routerLink="/login">Profile</a></li>
		<li class="list-group-item"><i class="fa fa-address-book-o"></i><a routerLink="cart">Cart Items</a></li>
		<li class="list-group-item"><i class="fa fa-id-card"></i><a routerLink="tablecafe"> Book a Table</a></li>
		<li class="list-group-item"><i class="fa fa-user-secret"></i><a routerLink="reg">Register</a></li>
		<li class="list-group-item"><i class="fa fa-file-image-o"></i> Manage Photo</li>
		<li class="list-group-item"><i class="fa fa-film"></i>Manage Video</li>
		<li class="list-group-item"><i class="fa fa-pencil"></i> Change Password</li>
	</ul>



